.ui_progress{
    background-color: #fdfdfd;
    height: 40px;
    display: block;
    
    .progress{
        height: 40px;
        display: inline-block;
        width: 0;
        background-color: #0074A2;
    }
}