#mobile_footer{
    z-index: 10;
    position: fixed;
    display: none;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: @esza_site_border_size;
    background-color: @esza_site_border_color;
}

#footer{
    z-index: 10;
    display: block;
    position: fixed;
    height: @esza_footer_height;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: @esza_site_border_color;
    
    padding: 0 30px;
    
    .social_icons, .copyright_text{
        overflow: hidden;
        float: right;   
        &.center{
            text-align: center;
            float: none;
            margin: 0 auto;
        }
    }
    
    p{
        font-family: @esza_footer_font;
        font-size: @esza_footer_font_size;
		line-height: @esza_footer_height;   
		color: @esza_footer_color1;
    }
	
	.right>p{
		padding-left: 20px;
	}
	
	a{
        color: @esza_footer_color2;
	}
	.sep{
		padding: 0px 10px;    
		font-size: 13px;
	}
    
    #footer_twitter{
        position: relative;
        overflow: hidden;
        height: @esza_footer_height; 
        .tweet_small{
            height: @esza_footer_height; 
            margin: 0;
            overflow: hidden;
        }
        >p{
            float: left;    
            font-size: 18px;
            margin-right: 12px;
            color: @esza_footer_twitter_bird_color;
        }
        span{
            color: @esza_footer_color2;
        }
        .tweets{
            position: relative; 
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .tweets_holder{
            overflow: hidden;
            position: relative;
        }
    }
}

.two-image-button.socialButton{
    margin-top: @esza_footer_height / 2 - 15px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    .inner-image{
        background-repeat: no-repeat;
        .at2x('../img/Social_Icons/social_sprite_color', 120px, 120px, '.png');
    }
    .at2x('../img/Social_Icons/social_sprite_grey', 120px, 120px, '.png');
    
    
    
    &.behance, &.behance .inner-image{
        .sprite_pos(90px, 60px);
    }
    
    &.google, &.google .inner-image{
        .sprite_pos(60px, 30px);
    }
    
    &.dribbble, &.dribbble .inner-image{
        .sprite_pos(60px, 60px);
    }
    
    &.facebook, &.facebook .inner-image{
        .sprite_pos(0px, 60px);
    }
    
    &.flickr, &.flickr .inner-image{
        .sprite_pos(90px, 30px);
    }
    
    &.linkedin, &.linkedin .inner-image{
        .sprite_pos(30px, 30px);
    }
    
    &.pinterest, &.pinterest .inner-image{
        .sprite_pos(0px, 30px);
    }
    
    &.rss, &.rss .inner-image{
        .sprite_pos(90px, 0px);
    }
    
    &.twitter, &.twitter .inner-image{
        .sprite_pos(60px, 0px);
    }
    
    &.vimeo, &.vimeo .inner-image{
        .sprite_pos(30px, 0px);
    }
    
    &.youtube, &.youtube .inner-image{
        .sprite_pos(0px, 0px);
    }
    
    &.envato, &.envato .inner-image{
        .sprite_pos(30px, 60px);
    }
    
    &.tumblr, &.tumblr .inner-image{
        .sprite_pos(0px, 90px);
    }
    
    &.instagram, &.instagram .inner-image{
        .sprite_pos(30px, 90px);
    }
}




@media (max-height: @footer_resize_at) {
    #page-wraper{
        padding-bottom: 0px !important;   
    }
    #page-wraper-full{
        bottom: @esza_site_border_size;   
    }
    body{
        margin-bottom: @esza_site_border_size !important;   
    }
    .info{
        padding-bottom: @esza_site_border_size !important;   
    }
    #footer{
        display: none;   
    }
    #mobile_footer{
        display: block !important;   
    }
}